<div id="left" class="column">
    <!-- nav bar -->
    <div id="browse">
        <div class="xsnazzysearch">
            <b class="xtop "><b class="xb1"></b><b class="xb4"></b></b>
            <div class="xboxcontent left">
                <h2 id="browsetitle"><%=translate('ADMINISTRATION') %></h2>
                <div id="t_nav">
                    <div id="dashboard" class="navigation">
                        <%=link_to translate('ADMIN_HOME'), :controller=>'/admin/dashboard', :action=>'index' %>
                    </div>
                    <span>
           				<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bCollections" class="navigation">
                            <%= link_to translate('COLLECTIONS'), :controller => '/admin/collection', :action => 'index' %>
                            <div name="menuItem" id="tCollections" class="expanded" init="0">
                                <%= link_to translate('LIST_COLLECTIONS'), :controller => '/admin/collection', :action => 'list' %>
                                <%= link_to translate('ADD_A_NEW_COLLECTION'), :controller => '/admin/collection', :action => 'new' %>
                            </div>
                        </div>
                    </span>
                    <span>
                    	<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bCollectionGroups" class="navigation">
                            <%= link_to translate('COLLECTION_GROUPS'), admin_collection_group_index_path, :action=>'list' %>
                            <div name="menuItem" id="tCollectionGroups" class="expanded" init="0">
                                <%= link_to translate('LIST_COLLECTION_GROUPS'), admin_collection_group_index_path, :action=>'list' %>
                                <%= link_to translate('ADD_A_NEW_COLLECTION_GROUP'), new_admin_collection_group_path %>
                            </div>
                        </div>
                    </span>
                    <span>
                    	<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bProviders" class="navigation">
                            <%= link_to translate('PROVIDERS'), :controller => '/admin/provider', :action => 'index' %>
                            <div name="menuItem" id="tProviders" class="expanded" init="0">
                                <%= link_to translate('LIST_PROVIDERS'), :controller => '/admin/provider', :action => 'list' %>
                                <%= link_to translate('ADD_A_NEW_PROVIDER'), :controller => '/admin/provider', :action => 'new' %>
                            </div>
                        </div>
                    </span>
                    <span>
                        <div id="bStats" class="navigation">
                            <%= link_to translate('STATS'), :controller => '/admin/log_view_generic', :action => 'index' %>
                        </div>
                    </span>
                    <span>
                    	<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bCoverages" class="navigation">
                            <%= link_to translate('COVERAGES'), :controller => '/admin/coverage', :action => 'index' %>
                            <div name="menuItem" id="tCoverages" class="expanded" init="0">
                                <%= link_to translate('LIST_COVERAGES'), :controller => '/admin/coverage', :action => 'list' %>
                                <%= link_to translate('ADD_A_NEW_COVERAGE'), :controller => '/admin/coverage', :action => 'new' %>
                            </div>
                        </div>
                    </span>
                    <span>
                    	<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bUsers" class="navigation">
                            <%= link_to translate('USERS'), :controller => '/admin/user', :action => 'index' %>
                            <div name="menuItem" id="tUsers" class="expanded" init="0">
                                <%= link_to translate('LIST_USERS'), :controller => '/admin/user', :action => 'list' %>
                                <%= link_to translate('ADD_A_NEW_USER'), :controller => '/admin/user', :action => 'new' %>
                            </div>
                        </div>
                    </span>
                    <span>
                    	<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bTabSubjects" class="navigation">
                            <%= link_to translate('TABS_SUBJECT'), :controller => '/admin/search_tab_subjects', :action => 'index' %>
                            <div name="menuItem" id="tTabSubjects" class="expanded" init="0">
                                <%= link_to translate('LIST_TAB_SUBJECTS'), :controller => '/admin/search_tab_subjects', :action => 'index' %>
                                <%= link_to translate('ADD_A_NEW_TAB_SUBJECT'), :controller => '/admin/search_tab_subjects', :action => 'new' %>
                            </div>
                        </div>
                    </span>
                    <span>
                    	<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bTabFilters" class="navigation">
                            <%= link_to translate('TABS_FILTER'), :controller => '/admin/search_tab_filters', :action => 'index' %>
                            <div name="menuItem" id="tTabFilters" class="expanded" init="0">
                                <%= link_to translate('LIST_TAB_FILTERS'), :controller => '/admin/search_tab_filters', :action => 'index' %>
                                <%= link_to translate('ADD_A_NEW_TAB_FILTER'), :controller => '/admin/search_tab_filters', :action => 'new' %>
                            </div>
                        </div>
                    </span>
                    <span>
                    	<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bRejects" class="navigation">
                            <%= link_to translate('REJECTED'), :controller => '/admin/reject', :action => 'index' %>
                            <div name="menuItem" id="tRejects" class="expanded" init="0">
                                <%= link_to translate('LIST_REJECTS'), :controller => '/admin/reject', :action => 'showAll' %>
                                <%= link_to translate('DB_REJECTS'), :controller => '/admin/reject', :action => 'show' %>
                            </div>
                        </div>
                    </span>
                    <span>
                    	<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bDocumentTypes" class="navigation">
                            <%= link_to translate('DOCUMENT_TYPES'), :controller => '/admin', :action => 'index' %>
                            <div name="menuItem" id="tDocTypes" class="expanded" init="0">
                                <%= link_to translate('PRIMARY_DOCUMENT_TYPE'), :controller => '/admin/primary_document_types', :action => 'index' %>
                                <%= link_to translate('CUSTOM_DOCUMENT_TYPE'), :controller => '/admin/document_types', :action => 'index' %>
                            </div>
                        </div>
                    </span>
					<span>
                    	<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bTabs" class="navigation">
                            <%= link_to translate('DOCUMENT_TABS'), :controller => '/admin/search_tabs', :action => 'index' %>
                            <div name="menuItem" id="bonglet" class="expanded" init="0">
                                <%= link_to translate('LIST_TABS'), :controller => '/admin/search_tabs', :action => 'index' %>
                            </div>
                        </div>
                    </span>
					<span>
                    	<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bEditorials" class="navigation">
                            <%= link_to translate('EDITORIAL'), :controller => '/admin/editorials', :action => 'index' %>
                            <div name="menuItem" id="bEditorial" class="expanded" init="0">
                                <%= link_to translate('LIST_EDITORIAL'), :controller => '/admin/editorials', :action => 'index' %>
								<%= link_to translate('AFFECTE_EDITORIAL'), :controller => '/admin/editorials', :action => 'affecte' %>
                            </div>
                        </div>
                    </span>
					<span>
           				<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bSchedules" class="navigation">
                            <%= link_to translate('HARVEST'), :controller => '/admin/harvest_schedule', :action => 'list' %>
                            <div name="menuItem" id="tSchedules" class="expanded" init="0">
                                <%= link_to translate('LIST_HARVEST_SCHEDULES'), :controller => '/admin/harvest_schedule', :action => 'list' %>
                                <%= link_to translate('NEW_HARVEST_SCHEDULE'), :controller => '/admin/harvest_schedule', :action => 'new' %>
								<%= link_to translate('HARVEST_LOG'), {:controller => '/admin/harvest_schedule', :action => 'display_log'},{:target=>'_blank'} %>
                            </div>
                        </div>
                    </span>
					<span>
           				<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bRssFeeds" class="navigation">
                            <%= link_to translate('RSS_FEEDS'), :controller => '/admin/rss_feed', :action => 'list' %>
                            <div name="menuItem" id="tRssFeeds" class="expanded" init="0">
                                <%= link_to translate('LIST_RSS_FEEDS'), :controller => '/admin/rss_feed', :action => 'list' %>
                                <%= link_to translate('NEW_RSS_FEED'), :controller => '/admin/rss_feed', :action => 'new' %>
								<!--<%= link_to translate('LOG_RSS_FEED'), {:controller => '/admin/rss_feed', :action => 'display_log'},{:target=>'_blank'} %>-->
                            </div>
                        </div>
                    </span>
                </div>
					<span>
           				<a name="setEffectToggle" class="linkplus">+</a>
                        <div id="bManageDroit" class="navigation">
                            <%= link_to translate('MANAGE_DROIT'), :controller => '/admin/manage_droits', :action => 'index' %>
                            <div name="menuItem" id="tManageDroit" class="expanded" init="0">
                                <%= link_to translate('MANAGE_DROIT_LIST'), :controller => '/admin/manage_droits', :action => 'list' %>
                                <%= link_to translate('MANAGE_ROLE_LIST'), :controller => '/admin/manage_roles', :action => '' %>
                                <%= link_to translate('ADD_NEW_ROLE'), :controller => '/admin/manage_roles', :action => 'new' %>
                            </div>
                        </div>
                    </span>
                <!--end t_nav-->
            </div>
            <!--close xboxcontent --><b class="xbottom"><b class="xb4"></b><b class="xb1"></b></b>
        </div>
        <!--end xsnazzysearch-->
    </div>
    <!--close browse -->
</div>
<!-- end left column -->
<script>
    initMenuAdmin();
</script>
