<script>
    $j(function(){
		
		var option = {};
		option.collapsible = true;
        $j("#tabs_stat").tabs(option);
		
    });
</script>
<div id="tabs_stat">
    <ul>
        <li>
            <a href="#tabs-1">Requetes</a>
        </li>
        <li>
            <a href="#tabs-3">Consultation</a>
        </li>
        <li>
            <a href="#tabs-6">Sociales</a>
        </li>
        <li>
            <a href="#tabs-11">Rebonds</a>
        </li>
        <li>
            <a href="#tabs-2">Panier</a>
        </li>
        <li>
            <a href="#tabs-5">Compte</a>
        </li>
        <li>
            <a href="#tabs-15">Les Tops</a>
        </li>
    </ul>
    <div id="tabs-1">
        <h3>Requetes</h3>
        <ul>
            <li>
                <%= link_to "Requêtes total", :action => "requests", :mode => "all", :unit => "month" %>
            </li>
            <li>
                <%= link_to "Requêtes par couple d'index", :action => "requests", :mode => "c" %>
            </li>
            <li>
                <%= link_to "Liste des requetes les plus fréquente", :action => "requests", :mode => "t" %>
            </li>
            <li>
                <%= link_to "Nombre de clics sur des requetes préprogrammées", :action => "requests", :mode => "n" %>
            </li>
            <li>
                <%= link_to "Nombre de clics sur le lien \"Voir Aussi\"", :action => "requests", :mode => "s", :unit => "month" %>
            </li>
            <li>
                <%= link_to "Nombre de requetes via des rebonds", :action => "requests", :mode => "r", :unit => "month" %>
            </li>
            <li>
                <%= link_to "Nombre de requetes via le correcteur orthographique", :action => "requests", :mode => "sp", :unit => "month" %>
            </li>
        </ul>
    </div>
    <div id="tabs-2">
        <h3>Panier</h3>
        <ul>
            <li>
                <%= link_to "Nombre de paniers utilisés", :action => "carts", :mode => "f", :unit => "month" %>
            </li>
            <li>
                <%= link_to "Nombre de notices sauvegardées dans les paniers", :action => "carts", :mode => "s", :unit => "month" %>
            </li>
        </ul>
    </div>
    <div id="tabs-3">
        <h3>Consultation Notice</h3>
        <ul>
            <li>
                <%= link_to "Nombre de notices consultées", :action => "consult", :mode => "c", :unit => "month" %>
            </li>
            <li>
                <%= link_to "Nombre de notices consultées par collection", :action => "consult", :mode => "cc" %>
            </li>
            <li>
                <%= link_to "Nombre de notices imprimées", :action => "consult", :mode => "p", :unit => "month" %>
            </li>
            <li>
                <%= link_to "Nombre de notices envoyées par email", :action => "consult", :mode => "e", :unit => "month" %>
            </li>
            <li>
                <%= link_to "Nombre de notices générées en pdf", :action => "consult", :mode => "pdf", :unit => "month" %>
            </li>
            <li>
                <%= link_to "Top notice consultées", :action => "consult", :mode => "top", :order => "total", :max => "10" %>
            </li>
			<li>
                <%= link_to "Nombre de notices exportées", :action => "consult", :mode => "export", :order => "total", :max => "10", :unit => "month" %>
            </li>
        </ul>
        <br/>
        <h3>Ressources consultées</h3>
        <ul>
            <li>
                <%= link_to "Nombre de documents consultés", :action => "document", :mode => "c", :unit => "day" %>
            </li>
        </ul>
        
    </div>
    <div id="tabs-5">
        <h3>Notices sauvegardées</h3>
        <ul>
            <li>
                <%= link_to "Nombre de notices sauvegardées", :action => "save_notice", :mode => "s", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de notices sauvegardées dans des listes", :action => "save_notice", :mode => "l", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de notices sauvegardées dans Mes documents", :action => "save_notice", :mode => "m", :unit => "day" %>
            </li>
        </ul>
        <br/>
        <h3>Requetes sauvegardées</h3>
        <ul>
            <li>
                <%= link_to "Nombre de requêtes sauvegardées", :action => "save_request", :mode => "s", :unit => "day" %>
            </li>
        </ul>
    </div>
    <div id="tabs-6">
        <h3>Mots Clés</h3>
        <ul>
            <li>
                <%= link_to "Nombre de mots clés crées", :action => "tag", :mode => "ct", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de mots clés supprimés", :action => "tag", :mode => "dt", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de mots clés crées sur des notices", :action => "tag", :mode => "cn", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de mots clés supprimés sur des notices", :action => "tag", :mode => "dn", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de mots clés crées sur des listes", :action => "tag", :mode => "cl", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de mots clés supprimés sur des listes", :action => "tag", :mode => "dl", :unit => "day" %>
            </li>
        </ul>
        <br/>
        <h3>Consultation Listes</h3>
        <ul>
            <li>
                <%= link_to "Nombre de consultation de liste", :action => "list_consult", :mode => "v", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de consultation par liste", :action => "list_consult", :mode => "vl", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de listes crées", :action => "list_consult", :mode => "c", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de listes supprimées", :action => "list_consult", :mode => "d", :unit => "day" %>
            </li>
        </ul>
        <h3>Commentaires</h3>
        <br/>
        <ul>
            <li>
                <%= link_to "Nombre de commentaires crées", :action => "comment", :mode => "ct", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de commentaires supprimés", :action => "comment", :mode => "dt", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de commentaires crées sur des notices", :action => "comment", :mode => "cn", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de commentaires supprimés sur des notices", :action => "comment", :mode => "dn", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de commentaires crées sur des listes", :action => "comment", :mode => "cl", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de commentaires supprimés sur des listes", :action => "comment", :mode => "dl", :unit => "day" %>
            </li>
        </ul>
        <h3>Notes</h3>
        <br/>
        <ul>
            <li>
                <%= link_to "Nombre de notes créees", :action => "note", :mode => "ct", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de notes supprimées", :action => "note", :mode => "dt", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de notes créees sur des notices", :action => "note", :mode => "cn", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de notes supprimées sur des notices", :action => "note", :mode => "dn", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de notes créees sur des listes", :action => "note", :mode => "cl", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de notes supprimées sur des listes", :action => "note", :mode => "dl", :unit => "day" %>
            </li>
        </ul>
    </div>
    <div id="tabs-11">
        <h3>Rebonds Mots clés</h3>
        <ul>
            <li>
                <%= link_to "Nombre de rebonds sur les mots clés", :action => "rebonce_tag", :mode => "all", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de rebonds sur les mots clés via une notice", :action => "rebonce_tag", :mode => "n", :unit => "day" %>
            </li>
            <li>
                <%= link_to "Nombre de rebonds sur les mots clés via une liste", :action => "rebonce_tag", :mode => "l", :unit => "day" %>
            </li>
        </ul>
        <br/>
        <h3>Rebonds Profil</h3>
        <ul>
            <li>
                <%= link_to "Nombre de rebonds sur les profils", :action => "rebonce_profil", :mode => "all", :unit => "day" %>
            </li>
        </ul>
        <br/>
        <h3>Rebonds Liste</h3>
        <ul>
            <li>
                <%= link_to "Nombre de rebonds sur les listes", :action => "rebonce_liste", :mode => "all", :unit => "day" %>
            </li>
        </ul>
        <br/>
        <h3>Facettes</h3>
        <ul>
            <li>
                <%= link_to "Nombre d'action sur les facettes", :action => "facette", :unit => "day" %>
            </li>
        </ul>
    </div>
    <div id="tabs-15">
        <h3>Notices</h3>
        <ul>
            <li>
                <%= link_to "Les notices les mieux notées", :action => "top_notice", :mode => "note", :max => 10 %>
            </li>
            <li>
                <%= link_to "Les notices les plus commentés ", :action => "top_notice", :mode => "comment", :max => 10 %>
            </li>
            <li>
                <%= link_to "Les notices les plus exportées ", :action => "top_notice", :mode => "export", :max => 10 %>
            </li>
            <li>
                <%= link_to "Les notices les plus taggées ", :action => "top_notice", :mode => "tag", :max => 10 %>
            </li>
            <li>
                <%= link_to "Les notices les plus dans les listes ", :action => "top_notice", :mode => "liste", :max => 10 %>
            </li>
            <li>
                <%= link_to "Les notices les plus attendues ", :action => "top_notice", :mode => "sub", :max => 10 %>
            </li>
        </ul>
        <br/>
        <h3>Listes</h3>
        <ul>
            <li>
                <%= link_to "Les listes les mieux notées", :action => "top_liste", :mode => "note", :max => 10 %>
            </li>
            <li>
                <%= link_to "Les listes les plus commentés ", :action => "top_liste", :mode => "comment", :max => 10 %>
            </li>
            <li>
                <%= link_to "Les listes avec le plus de notices ", :action => "top_liste", :mode => "notice", :max => 10 %>
            </li>
            <li>
                <%= link_to "Les listes les plus taggées ", :action => "top_liste", :mode => "tag", :max => 10 %>
            </li>
        </ul>
    </div>
</div>
<br/>
