<div class="search">
    <div class="field">
        <% if !@linkMenu.nil? and !@linkMenu.empty? %>
        <%   select = @linkMenu[0].id %>
        <% else %>
        <% 	select = 0 %>
        <% end %>
        <% advance = false %>
        <% if params[:idTab] != nil && params[:idTab].to_i > 0 %>
        <%   select = params[:idTab].to_i %> 
        <% end %>
        <% if @filter_tab != nil %>
      	     <div id="form_div">

                <%= form_tag('/record/retrieve', :name=>'search_form', :id=>'search_form', :onsubmit=>"showWait('waitimage')")  do -%>
                <input type='hidden' name='start_search' id="start_search" value="true">

                <% if @tab_query_string and !@tab_query_string[1].blank?
                	advance = true;
                end %>
                <input type="hidden" id="sets" name="sets" value=<%=@sets%>><input type="hidden" id="idTab" name="idTab" value='<%=params[:idTab]%>'>
                <div id="advancedAlign">
                    <div class="textSearchElem">
                        <%= translate('SEARCH') %><input type="hidden" name="mobile" value="<%=@IsMobile.to_s%>" />
                    </div>
                    <div class="fieldSearchFirst">
                        <!-- Field Search one -->
						<% if @IsMobile == true %>
                        	<%=text_field_tag "string1", @tab_query_string[0], {:size=>"10", :id=>"label"} %>
                        <% else %>
                        	<%=text_field_tag "string1", @tab_query_string[0], {:id=>"autoCompleteTextField_a", :size=>"22", :class=>'textField'} %>
                        <% end %>
                        <%= translate('FROM') %>
                      	<select name="field_filter1" title="<%=translate('FROM_TITLE')%>">
                        	<% @filter_tab.each do |filter|%>
								<% if (@field_filter[0] == filter.field_filter)%>
									<option selected value="<%=fitler.field_filter%>" title="<%=filter.description%>" ><%= filter.label %></option>
								<% else %>
									<option onclick='this.parentNode.title="<%=filter.description%>"' value="<%=filter.field_filter%>" title="<%=filter.description%>"><%= filter.label %></option>
								<% end %>
							<% end %>
                        </select>
                        <%= translate('IN') %>
                        <select id="select2" name="query_sets" title="<%= translate('IN_TITLE') %>">
                            <% if (@groups_tab!= nil) %>
	                            <% @groups_tab.each do | elem | %>
	                            	<% value = 'g' + elem.id.to_s
		                            if ('g' + elem.id.to_s == params[:query_sets])  %>
		                            	<option selected value='g<%= elem.id %>' title='<%= elem.description %>' onclick='this.parentNode.title="<%=elem.description%>"' ><%= elem.full_name %></option>
		                            <% else %>
		                            	<option  onclick='this.parentNode.title="<%=elem.description%>"' value='g<%= elem.id %>' title='<%= elem.description %>'><%= elem.full_name %></option>
		                            <% end %>
	                            <% end %>
                            <% end %>
                        </select>
                    </div>
                    <!-- End of div FieldSearch --><!-- <%= submit_tag translate('FIND_IT'), {:id=>"buttonSubmit"} %> -->
                    <br/>
                    <div id="advanceForm" class="advanceForm">
                        <div class="fieldSearch">
                            <!-- Field Search two -->
                            <select class="andOr" name="operator1">
                            	<% if (@operator[0] == "AND")%>
                                	<option selected='true' value="AND">ET</option>
								<% else%>
									<option value="AND">ET</option>
								<% end %>
								<% if (@operator[0] == "OR")%>
                                	 <option selected='true' value="OR">OU</option>
								<% else%>
									 <option value="OR">OU</option>
								<% end %>
								<% if (@operator[0] == "NOT")%>
                                	<option selected='true' value="NOT">SAUF</option>
								<% else%>
									<option value="NOT">SAUF</option>
								<% end %>
                            </select>
                            <%=text_field_tag "string2", @tab_query_string[1], {:id=>"autoCompleteTextField_b", :size=>"22", :class=>'textField'} %>
                            <%= translate('FROM') %>
                            <select name="field_filter2" title="<%= translate('FROM_TITLE') %>">
                                <% @filter_tab.each do | filter |
								if (@field_filter[1] == filter.field_filter)%>
									<option selected value="<%=filter.field_filter%>" title="<%=filter.description%>" ><%= filter.label %></option>
								<% else %>
									<option  onclick='this.parentNode.title="<%=filter.description%>"' value="<%=filter.field_filter%>" title="<%=filter.description%>"><%= filter.label %></option>
								<% end %>
							<%end%>
                            </select>
                        </div>
                        <!-- End of span FieldSearch -->
                        <div class="fieldSearch">
                            <!-- Field Search three -->
                            <select class="andOr" name="operator2">
                                <% if (@operator[1] == "AND")%>
                                	<option selected='true' value="AND">ET</option>
								<% else%>
									<option value="AND">ET</option>
								<% end %>
								<% if (@operator[1] == "OR")%>
                                	 <option selected='true' value="OR">OU</option>
								<% else%>
									 <option value="OR">OU</option>
								<% end %>
								<% if (@operator[1] == "NOT")%>
                                	<option selected='true' value="NOT">SAUF</option>
								<% else%>
									<option value="NOT">SAUF</option>
								<% end %>
                            </select>
                            <%=text_field_tag "string3", @tab_query_string[2], {:id=>"autoCompleteTextFieldc", :size=>"22", :class=>'textField'} %>
                            <%= translate('FROM') %>
                            <select name="field_filter3" title="<%= translate('FROM_TITLE') %>">
                                <% @filter_tab.each do | elem |
								if (@field_filter[2] == elem.field_filter)%>
									<option selected value="<%=elem.field_filter%>" title="<%=elem.description%>" ><%= elem.label %></option>
								<% else %>
									<option  onclick='this.parentNode.title="<%=elem.description%>"' value="<%=elem.field_filter%>" title="<%=elem.description%>"><%= elem.label %></option>
								<% end %>
							<%end%>
                            </select>
						</div>

						<!-- Number of results -->
						<div class="fieldSearch">
							<%= translate('MAX_SEARCH_RESULTS') %>
							<select name="max_search">
								<option value="DEFAULT"><%= translate('DEFAULT') %></option>
								<option <% if @max == 10 %>
											selected="selected"
										<% end %>
										value="10">10</option>
								<option <% if @max == 50 %>
											selected="selected"
										<% end %>
										value="50">50</option>
								<option <% if @max == 100 %>
											selected="selected"
										<% end %>
										value="100">100</option>
								<option <% if @max == 250 %>
											selected="selected"
										<% end %>
										value="250">250</option>
								<option <% if @max == 500 %>
											selected="selected"
										<% end %>
										value="500">500</option>
								<option <% if @max == 1000 %>
											selected="selected"
										<% end %>
										value="1000">1000</option>
							</select>
							<!-- End number of results -->
							
							<!-- Number of results / page -->
							<%= translate('MAX_SHOW_RESULTS') %>
							<select name="show_search">
								<option value="DEFAULT"><%= translate('DEFAULT') %></option>
								<option <% if @page_size == 5 %>
											selected="selected"
										<% end %>
										value="5">5</option>
								<option <% if @page_size == 25 %>
											selected="selected"
										<% end %>
										value="25">25</option>
								<option <% if @page_size == 50 %>
											selected="selected"
										<% end %>
										value="50">50</option>
								<option <% if @page_size == 100 %>
											selected="selected"
										<% end %>
										value="100">100</option>
							</select>
                        </div>
						<!-- End number of results / page -->

                    <!-- End of span FieldSearch -->
                    </div>
                    <!-- End of div advancedForm-->
                </div>
                <!-- End of div advanced Align  --><%= submit_tag translate('FIND_IT'), {:id=>"buttonSubmit"} %>
                <% if @IsMobile != true %>
                
                <%=link_to_function translate('ADVANCED_SEARCH'), "Effect.toggle('advanceForm', 'slide', {duration: 0.2 });" %>
                <% end %>
                <span id="waitimage" class="waitimage"><img src="/images/wait.gif"/></span><!-- /span -->
            </div>
            <script>
                setFocus();
                Element.hide('waitimage')
            </script>
            
            <% end %>
            <% end %>


            <div id="autoCompleteMenu"></div>
            <script>
				aIdTab = Array();
				<% if (@linkMenu != nil)
					@linkMenu.each do |aLine|%>
					aIdTab.push(<%= aLine.id.to_s.to_i %>)
				<% end
				end %>
    		    initSubMenu(<%=select%>, <%= advance%>, aIdTab);
				//var field	= document.getElementById("autoCompleteTextField_" + aIdTab[0] + "a").nextSibling.nextSibling.value;
    			//new Ajax.Autocompleter("autoCompleteTextField_" + aIdTab[0] + "a", 'autoCompleteMenu', '/search/autocomplete', {parameters: "field="+field});
    			initAutoComplete(1);
    			initAutoComplete(2);
    			initAutoComplete(3);
				setTitle("field_filter1");
				setTitle("field_filter2");
				setTitle("field_filter3");
				setTitle("query_sets");
            </script>
        </div>
        <!-- End div  field-->
    </div>
    <!-- End div search-->
    <div class="help">
        <ul>
            <li>
            <a href="#"><%= translate("NEED_HELP") %>
            </a>
        </ul>
    </div>
