<div id="page_contents">
    <%= render :partial => "admin/navigation" %>
    <%= render :partial => "filter_form" %>
    <div id="center" class="column">
        <span><h2><%=translate('COLLECTIONS_HEADER') %></h2></span>
        <br/>
        <%= link_to translate('ADD_A_NEW_COLLECTION'), :controller => '/admin/collection', :action => 'new' %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= render :partial => "admin/admin_pagination", :locals=>{:pages=>@collection_pages, :params=> params} %>
        <div id="edit_form">
            <div class="admin-list">
                <% columns_hash=Collection.columns_hash
                for column in @display_columns
                _class_name="medium-column"
                if column=="mat_type"
                _class_name="small-column"
                elsif column=="alt_name" || column=="name"
                _class_name="large-column"
                end %>
                <label class="<%=_class_name%>">
                    <%= translate("#{columns_hash[column].name.upcase}_COLUMN") %>
                </label>
                <% end %>
                <label class="medium-column">
                    <%= translate('COLLECTION_GROUPS_COLUMN') %>
                </label>
                <span class="action-links">&nbsp;</span>
            </div>
            <br/>
            <% for collection in @collection_pages %>
            <div class="admin-list">
                <% for column in @display_columns
                _class_name="medium-column"
                if column=="mat_type"
                _class_name="small-column"
                elsif column=="alt_name" || column=="name"
                _class_name="large-column"
                end
                logger.debug("[LIST_COLLECTION] : #{collection.send(column)}")
                if collection.send(column) == nil or collection.send(column) == "" %>
                <span class="<%=_class_name%>">&nbsp;</span>
                <%elsif column=="alt_name" %>
                <span class="<%=_class_name%>"><%= link_to h(collection.send(column)), :action => 'show', :id => collection %></span>
                <%else %>
                <span class="<%=_class_name%>"><%=h collection.send(column) %></span>
                <% end %>
                <% end %>
                <span class="medium-column"><% groups = Array.new %>
                    <% collection.collection_groups.each do |group| %>
                    <% groups.push(group.name) %>
                    <% end %>
                    <% if groups.size > 0 and groups.size < 2 %>
                    <%= groups[0] %>
                    <% else %>
                    <%= groups[0..2].sort.join(", ").chomp(", ") %>
                    <% end %>
					<% if groups.size > 3 %>
                    <span id="more_collections_groups"><br/><b><a id="more_collections_groups_link" onclick="showhide('update_<%=collection.id %>');"><%= translate("MORE_GROUPS_LABEL") %></a></b></span>
                    <span id="update_<%=collection.id%>" class="update" style="display:none;"/>
                        <%= groups[3..groups.length].sort.join("<br/>") %>
                    </span>
					<% end %>
                </span>
                <span class="action-links"><%= link_to translate('EDIT'), :action => 'edit', :id => collection %>&nbsp;&nbsp;<%= link_to translate('DESTROY'), { :action => 'destroy', :id => collection }, :confirm => translate('ARE_YOU_SURE'), :method => "post" %>&nbsp;&nbsp;<!--<%= link_to translate('TEST_CONNECTION'), :action => 'test', :id => collection %>&nbsp;&nbsp;--></span>
            </div>
            <br/>
            <% end %>
        </div>
    </div>
    <%= render :partial => "admin/admin_pagination", :locals=>{:pages=>@collection_pages, :params=> params} %>
</div>
