<div id="page_contents">
    <%= render(:partial => "admin/navigation") %>
    <div id="center" class="column">
        <h2><%=translate('COLLECTION_HEADER') %></h2>
        <div id="edit_form">
            <% for column in Collection.content_columns %>
            <% if column.name != "harvest_day" %>
            <div id="form_field">
                <span class="form_left">
                    <label for="<%=column.name %>">
                        <%= translate("#{column.name.upcase}_LABEL") %>
                    </label>
                </span>
                <span class="form_right">
                	<% if column.name == "harvested" %>
                    	<%=h @collection.get_harvested_formated %>
					<% else %>
                    	<%=h @collection.send(column.name) %>
                    <% end %>
                </span>
            </div>
            <% else %>
            <div id="form_field">
                <span class="form_left">
                    <label for="<%=column.name %>">
                        <%= translate("#{column.name.upcase}_LABEL") %>
                    </label>
                </span>
                <span class="form_right">
                <% schedules = HarvestSchedule.find_all_by_collection_id(@collection.id) %>
                <ul>
                    <% if schedules.instance_of?(HarvestSchedule) %>
                    <li>
                        <%= "#{translate(schedules.day.to_s.upcase)} : #{schedules.time.strftime('%H:%M')}" %>
                    </li>
                </ul>
                <% elsif schedules.instance_of?(Array) %>
                <% schedules.each do |schedule| %>
                <li>
                    <%= "#{translate(schedule.day.to_s.upcase)} : #{schedule.time.strftime('%H:%M')}" %>
                </li>
                <% end %>
                <% end %>
                </ul>
            </span>
        </div>
        <% end
        end %>
        <div id='form_field'>
            <span class="form_left">
                <label for="collection_groups">
                    <%=translate("COLLECTION_GROUPS_LABEL") %>
                </label>
            </span>
            <span class="form_right"><% groups = Array.new %>
                <% @collection.collection_groups.each do |group| %>
                <% groups.push(group.name) %>
                <% end %>
                <%= groups.join(", ").chomp(", ") %>
            </span>
        </div>
        <%= link_to translate('EDIT'), :action => 'edit', :id => @collection %>
    </div>
</div>
</div>
